:root {
    --main-radius: 10px;
    --main-padding: 15px;
    --title-font-size: 45px;
    --theme-background: #fefae0;
    --theme-highlight: #bc6c25;
    --theme-secondary-background: #faedcd;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--theme-background);
    text-align:justify;
    margin-top: 55px;
}

p {
    margin: 0px;
}

header {
    overflow: hidden;        
    font-size: 22px;
    font-weight: 500;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--theme-background);
}

header .logo {
    float: left;               
}

header a {
    float: right;            
    display: block;           
    color: #000000;        
    text-align: center;       
    padding: 25px;       
    text-decoration: none;   
}

header a:hover, a:active {
    color: var(--theme-highlight);
}


main {
    margin: 0px 200px;
}

.title {
    font-size: var(--title-font-size);
    padding: 65px 0px 30px 0px;
}

#about { 
    text-align: center;
    margin: 50px 0px 00px 0px;
}

#about-description {
    text-align: justify;
}

#about-image {
    width: 450px;
    height: 450px;
}

#about-title {
    font-size: var(--title-font-size);
}

#about-description {
    font-size: 25px;   
    line-height: 40px;
    margin: 25px 0px; 
}

#papers-container {    
    height: 100vh;
    width: 100%;
    display: grid;

    grid-gap: var(--main-padding);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
        "paper paper paper paper"
        "paper paper paper paper"
    ;
}

.paper {
    border-radius: var(--main-radius);
    overflow: hidden;
}

.paper-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#book-container {
    display: flex;
}

.book {
    flex: 1;
    margin-right: var(--main-padding);
    overflow: hidden;
    height: 380px;
}

.book:last-child {
    margin-right: 0%;
}

.book-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--main-radius);
}

#photos-container {
    height: 60vh;
    width: 100%;
    display: grid;

    grid-gap: var(--main-padding);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
        "photo1 photo2 photo3 photo4"
        "photo1 photo5 photo6 photo7"
    ;
}

#photo1 {
    grid-area: photo1;
}

#photo2 {
    grid-area: photo2;
}

#photo3 {
    grid-area: photo3;
}

#photo4 {
    grid-area: photo4;
}

#photo5 {
    grid-area: photo5;
}

#photo6 {
    grid-area: photo6;
}

#photo7 {
    grid-area: photo7;
}

.photo-container {
    border-radius: var(--main-radius);
    overflow: hidden;
}

.photo-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#blog-container {
    display: flex;
}

.blog {
    flex: 1;
    margin-right: var(--main-padding);
    background-color: var(--theme-secondary-background);
    border-radius: var(--main-radius);
    overflow: hidden;
}

.blog:last-child {
    margin-right: 0%;
}

.blog-image {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.blog-content {
    margin: 15px;
}

.blog-title {
    font-size: 25px;
}

.blog-description {
    font-size: 18px;
    line-height: 25px;
    padding-top: 8px;
}

#hobby-container {
    display: flex;
    text-align: center;
}

.hobby {
    flex: 1;
    margin-right: var(--main-padding);
    background-color: var(--theme-secondary-background);
    border-radius: var(--main-radius);
    overflow: hidden;
}

.hobby:last-child {
    margin-right: 0%;
}

.hobby-image {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.hobby-title {
    font-size: 22px;
    padding: 15px;
}

footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

@media only screen and (max-width: 500px) {
    :root {
        --title-font-size: 30px;
    }

    header {
        font-size: 16px;
    }
    
    header .logo {              
        display: none;       
    }
    
    header a {              
        padding: 8px;       
    }
    
    main {
        margin: 0px var(--main-padding);
    }

    .title {
        padding: 15px 0px 10px 0px;
    }
    
    #about-image {
        width: 350px;
        height: 350px;
    }

    #about-description {
        font-size: 20px;  
        line-height: 30px;
    }
    
    #papers-container {    
        height: auto;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas: 
            "paper"
            "paper"
            "paper"
            "paper"
            "paper"
            "paper"
            "paper"
            "paper"
        ;
    }
    
    #book-container {
        display: block;
    }
    
    .book {
        margin-bottom: var(--main-padding);
        height: 100%;
        width: 100%;
    }
    
    .book:last-child {
        margin-bottom: 0%;
    }
    
    #photos-container {
        height: auto;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas: 
            "photo1"
            "photo2"
            "photo3"
            "photo4"
            "photo5"
            "photo6"
            "photo7"
        ;
    }
    
    #blog-container {
        display: block;
    }
    
    .blog {
        margin-bottom: var(--main-padding);
    }
    
    .blog:last-child {
        margin-bottom: 0%;
    }
    
    #hobby-container {
        display: block;
    }
    
    .hobby {
        margin-bottom: var(--main-padding);
        overflow: hidden;
    }
    
    .hobby:last-child {
        margin-bottom: 0%;
    }
    
    footer {
        padding-bottom: 280px;
    }
}